<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Registration</title>
</head>
<body>

<header class="header">
    <a href="/">Home</a>
    <div class="links">
        <a class="hl" href="/login">Sing in</a>
        <a href="/registration">Sing up</a>
    </div>
</header>

<div class="container">
    <h3>Registration</h3>

    <form action="/users" method="post">
        <input type="text" name="username" placeholder="username"><br>

        <input type="password" name="password" placeholder="password"><br>

        <input class="c" type="submit" value="Send">
    </form>

</div>

</body>
</html>